<nz-card nzTitle="Nuevo usuario" class="layout-user-form">
	<form [formGroup]="userForm" nz-form (ngSubmit)="saveUser()" nzLayout="vertical">
		<nz-form-item>
			<nz-form-label [nzRequired]="true" nzFor="name">Nombre</nz-form-label>
			<nz-form-control>
				<nz-input-group>
					<input
						nz-input
						formControlName="name"
						id="name"
						name="name"
						placeholder="Ingresa tu nombre"
						#nameInput
					/>
				</nz-input-group>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-label [nzRequired]="true" nzFor="email">Correo</nz-form-label>
			<nz-form-control>
				<nz-input-group>
					<input
						nz-input
						formControlName="email"
						id="email"
						email="email"
						placeholder="Ingresa tu nombre"
						#emailInput
					/>
				</nz-input-group>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-control>
				<button
					nz-button
					nzType="primary"
					nzShape="round"
					[disabled]="userForm.invalid"
					htmlType="submit"
					nzShape="round"
				>
					<nz-icon nzType="plus" nzTheme="outline" />
					Crear usuario
				</button>
			</nz-form-control>
		</nz-form-item>
	</form>
</nz-card>
