<nz-card nzTitle="Asignar tareas" class="mb-4">
    <form nz-form [formGroup]="taskForm" (ngSubmit)="assignTask()">
        <nz-form-item>
            <nz-form-label [nzSpan]="6">Usuario</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <nz-select formControlName="userId" nzPlaceHolder="Selecciona un usuario">
                    @for (user of users; track $index) {
                    <nz-option [nzValue]="user.user.id" [nzLabel]="user.user.name"></nz-option>
                    }
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">Tarea</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <input nz-input formControlName="title" placeholder="Ej. Revisar informes" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">Description</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <input nz-input formControlName="description" placeholder="xxxxx" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzSpan]="24" class="text-right">
                <button nz-button nzType="primary" [disabled]="taskForm.invalid">Asignar tarea</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>