<!-- NG-ZORRO
<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" alt="logo" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->

<nz-layout>
	<nz-header>
		<h1 style="color: white">SandboxV1</h1>
	</nz-header>

	<nz-content class="content">
		<router-outlet />
		@if (router.url !== '/user-tasks') {
			<nz-card class="button-navigate" (click)="navigateToUserTasks()">
				<div class="card-content">
					<nz-icon nzType="idcard" nzTheme="fill" class="icon-button" />
					<span class="text-button">Gestión de usuarios</span>
				</div>
			</nz-card>
		}
	</nz-content>
</nz-layout>
