<nz-card nzTitle="Usuarios">
    <nz-list nzBordered nzItemLayout="horizontal">
        @for (user of users; track $index) {
        <nz-list-item>
            <nz-list-item-meta [nzTitle]="user.name" [nzDescription]="user.email">
            </nz-list-item-meta>
            <button nz-button nzSize="small" (click)="viewTasks(user.id)">
                Ver tareas
            </button>
        </nz-list-item>
        }
    </nz-list>

     <app-task-list [userId]="selectedUserId" ></app-task-list>
</nz-card>